<!-- Loop over each note object -->
  <div class="col s12 m6 l4">
    <div class='card grey lighten-5'>
      <span class="card-title">Add new Post</span>
      <div class="card-content jobscards">
        <form>
          <textarea id="newTitle" placeholder="Add a post title"></textarea>
          <textarea id="newNote" placeholder="Add post"></textarea>
          <button id="submitNote" type="submit" class="btn blue lighten-4">Post</button>
        </form>
      </div>
    </div>
  </div>

<p>Previous posts</p>

{{#each notes as |note| }}
{{!-- <div class="col s12 m6 l4"> --}}
  <div class="col s12 m6 l4">
    <div class='card grey lighten-5 '>
      <div class="card-content jobscards">
        <span class="card-title">{{note.title}}</span>
        <p>Post: {{note.note}}</p>
        <p>Posted on: {{format_date note.createdAt}}</p>
        <p>By: {{note.user.username}}</p>
        <p>Number of Comments: {{commentCount}}</p>
        {{!-- <p>Posted on: {{format_date job.date_posted}}</p> --}}
      </div>

      <div id="editForm{{note.id}}" class="edit-form" style="display: none;">
        <input id="editTitle{{note.id}}" type="text" placeholder="Edit title" value="{{note.title}}">
        <textarea id="editNote{{note.id}}" placeholder="Edit post">{{note.note}}</textarea>
        <button id="updateNote{{note.id}}" type="button" class="btn blue lighten-4 updateNote">Update</button>
      </div>

      <div class="card-action blue lighten-4">
        <a href="/note/{{note.id}}" class="grey-text text-darken-4">See full post &amp comments</a>
      </div>

      <form>
        <button id="deleteNote{{note.id}}" type="button" class="btn blue lighten-4 deleteNote">Delete Post</button>
      </form>

      <form>
        <button id="editButton{{note.id}}" type="button" class="btn blue lighten-4 editNote">Amend Post</button>
      </form>

    </div>
  </div>
{{/each}}

<script src="/js/addnote.js"></script>
<script src="/js/deletenote.js"></script>
<script src="/js/amendnote.js"></script>