<div class="col s12 m6 l4">
  <div class="card grey lighten-5">
    <div class="card-content jobscards">
      <span class="card-title">{{note.title}}</span>
      <p>Note: {{note.note}}</p>
      <p>Posted on: {{format_date note.createdAt}}</p>
      <p>By: {{note.user.username}}</p>
      <form>
      <button id = "deleteNote" type="button" class="btn blue lighten-4">Delete</button>
      </form>
    </div>
    <ul class="collapsible  s6">
      <div class="card-action blue lighten-2">Comments</div>
        <div>
          {{#each note.comments}}
            <div class="card blue lighten-4">
                <p>Content: {{content}}</p>
                <p>Posted by {{user.username}} on: {{format_date createdAt}}</p>
                <p>Comment Id: {{id}}</p>
            </div>
          {{/each}}
        </div>
      </div>
      <form action="/note/{{note.id}}" method="POST">
        <textarea id="comment" rows="4" placeholder="Add a comment"></textarea>
        <button id="submitComment" type="submit" class="btn blue lighten-4">Submit</button>
      </form>
    </ul>
  </div>
</div>

<script src="/js/addcomment.js"></script>
<script src="/js/deletenote.js"></script>